.c-autocomplete {
  position: relative;
  width: 100%; }
  .c-autocomplete div {
    width: 100%; }
  .c-autocomplete input {
    height: 63px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding-left: 18px; }
  .c-autocomplete__menu {
    left: initial;
    top: initial;
    position: absolute;
    z-index: 999999;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    border-top: none;
    max-height: 300px;
    overflow: auto; }
  .c-autocomplete__item {
    padding: 10px 18px; }
    .c-autocomplete__item :hover, .c-autocomplete__item--active {
      background: #444;
      color: white; }
