.c-searchDropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;

  select {
    border-radius: 5px;
    height: 63px;
    width: 100%;
  }

  label {
    width: 150px;
  }
}