.c-search-field {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;

  @media (max-width: 37.5625em) {
    flex-direction: column !important;
  }

  &__input-wrapper {
    padding-top: 5px;

    @media (min-width: 37.5625em) {
      padding: 0;
    }
  }

  &__submit-button {
    height: 63px;
    width: 200px;
    margin-left: 10px;

    @media (max-width: 37.5625em) {
      height: 63px;
      margin-top: 10px;
      margin-left: 0;
      width: 100%;
    }

    svg {
      transform: scale(2);
    }
  }
}