.footer-text-wrapper {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 37.5625em) {
    .footer-text-wrapper {
      flex-direction: column; } }

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center; }
