.c-concept-form {
  time {
    width: 100%;
  }
  button{
    padding: 5px;
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }

  &__form-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;

    .field-validation-error {
      font-size: 12px;
     color: rgba(209, 55, 46, .9);
    }
    .input-group {
      width: 100%;
    }
    label {
      width: 150px;
    }
  }

  &__meta{
    padding: 10px;
    display: flex;
    align-items: center;

    hr {
      border: .5px solid black !important;
      margin: 0;
      width: 100%;
      &:before {
        content: none;
      }
    }

    h2 {
      margin: 0;
    }
  }


}