.c-update-form button {
  padding: 5px;
  display: block;
  margin-bottom: 5px; }

.c-update-form__form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0; }
  .c-update-form__form-field select {
    width: 100%; }
  .c-update-form__form-field label {
    width: 150px; }

.c-update-form__meta {
  padding-top: 10px; }
