.c-update-form {

    button{
        padding: 5px;
        display: block;
        margin-bottom: 5px;
    }

    &__form-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        select {
            width: 100%;
        }
        label {
            width: 150px;
        }
    }
    &__meta{
        padding-top: 10px;
    }
}